In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('train_u6lujuX_CVtuZ9i (1).csv')

In [129]:
df.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [116]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
new_df=df.dropna()
new_df.head(5)
loan_df=new_df.drop('Loan_ID',axis=1)

In [6]:
encoded_df=pd.get_dummies(loan_df,drop_first=True)
encoded_df.head

<bound method NDFrame.head of      ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
5               5417             4196.0       267.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History  Gender_Male  Married_Yes  Dependents_1  Dependents_2  \
1               1.0            1            1             1             0
2               1.0            1            1             0             0
3               1.0            1            1             0             0
4               1.0            1            0             0             0
5               1.0            1            1             0             1
..              ...          ...          ...           ...           ...
609             1.0            0            0             0             0
610             1.0            1            1             0             0
611             1.0            1            1             1             0
612             1.0            1            1             0             1
613             0.0            0            0             0             0

     Dependents_3+  Education_Not Graduate  Self_Employed_Yes  \
1                0                       0                  0
2                0                       0                  1
3                0                       1                  0
4                0                       0                  0
5                0                       0                  1
..             ...                     ...                ...
609              0                       0                  0
610              1                       0                  0
611              0                       0                  0
612              0                       0                  0
613              0                       0                  1

     Property_Area_Semiurban  Property_Area_Urban  Loan_Status_Y
1                          0                    0              0
2                          0                    1              1
3                          0                    1              1
4                          0                    1              1
5                          0                    1              1
..                       ...                  ...            ...
609                        0                    0              1
610                        0                    0              1
611                        0                    1              1
612                        0                    1              1
613                        1                    0              0

[480 rows x 15 columns]>

In [8]:
y=encoded_df[['Loan_Status_Y']]
X = encoded_df[['Gender_Male', 'Married_Yes', 'ApplicantIncome', 
      'LoanAmount', 'Credit_History']]

In [9]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer(strategy='mean')
X_imputed=imp.fit_transform(X)

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=10,test_size=0.2)

In [11]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=100,random_state=10)

In [13]:
model.fit(X_train,y_train)

y_pred=model.predict(X_test)

from sklearn.metrics import accuracy_score

score=accuracy_score(y_pred,y_test)
print(score)

0.7916666666666666

<ipython-input-13-b2951fe20022>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train,y_train)

In [15]:
 #saving the model 
import pickle 
pickle_out = open("classifier.pkl", mode = "wb") 
pickle.dump(model, pickle_out) 
pickle_out.close()

In [16]:
loaded_model=pickle.load(open('classifier.pkl','rb'))
result=loaded_model.score(X_test,y_test)
print(result)

0.7916666666666666